body{
  text-align: center;
  background-color: #AABD00;
  padding: 0;
}

.wrapper{
  width: 95%;
  margin: 35px auto;
  padding: 10px;
  text-align: left;
  border-left: 5px solid #A60007;
  border-right: 5px solid #A60007;
  background-color: #F6FAEF;
}

#scrolling_header{
  position: fixed;
  top: 0;
  margin: 0 auto;
  margin-left: -15px;
  text-align: left;
  border-left: 5px solid #A60007;
  border-right: 5px solid #A60007;
  z-index: 9999;
  width: 95%;
  background-color: #F6FAEF;
}

h1.title{
  margin: 0;
  display: inline-block;
}

pre {
  display: none;
}

#CodeButton {
  float: right;
  margin: -40px 20px 0px 0px;
}

#scrolling_nav{
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.scrolling-nav-item{
  display: inline-block;
  padding: 0px 20px;
}

.block{
  border: 1px dashed #A60007;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;}


.left{
  width: 30%;
  height: 400px;
  display: inline-block;
}

.center{
  display: inline-block;
  width: 9%;
  vertical-align: top;
  margin: 0px 100px 0px 0px;
}

.right{
  padding-left: 50px;
  height: 400px;
  width: 45%;
  display: inline-block;
}

#summarymap{
  vertical-align: top;
}


/* Changeset Block */
#user-list{
  display: inline-block;
  width: 150px;
  padding: 0px 0px 0px 15px;
  margin: 0px;
  height: 450px;
}

#changesets-map{
  display: inline-block;
  width: 800px;
  height: 450px;
  border: 1px solid blue;
}

#user-list li{
  margin: 0;
}

#user-list li a:hover{
  background-color: yellow;
  cursor: pointer;
  text-decoration: none;
}

#user-changesets{
  display: inline-block;
  width: 300px;
  height: 450px;
  margin: 0px;
  padding: 0px;
}

.overscroll{
  height: 400px;
  overflow: auto;
  list-style-type: none;
}

.changeset-details{
  border: 1px solid gray;
}
