pre {
  display: none;
}

#CodeButton {
  float: right;
  margin: -40px 20px 0px 0px;
}

.block{
  border: 4px dashed gray;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;}


.left{
  width: 40%;
  height: 400px;
  display: inline-block
}

.center{
  display: inline-block;
  width: 9%;
  vertical-align: top;
  margin-right: 1px;
}

.right{
  padding-left: 50px;
  height: 400px;
  width: 45%;
  display: inline-block;
}
