<div id="networktest" style="width:100%;">
  <svg id="vis" class="network" style="display:inline-block"></svg>
  <div id="Directions" style="float:right; width:25%; display: inline-block; vertical-align:top">
    <h3>Available Interactivity</h3>
    <p><strong>Hover</strong> over a node to view the username</p>
    <p><strong>Double-Click</strong> on a node to higlight that node's entire connected component.  Double-click any node again to show all.</p>

    <h3>Statistics</h3>
    <p>Nodes: <span id="nodeCount"></span></p>
    <p>Edges: <span id="edgeCount"></span></p>
    <p>Connected Components: <span id="compCount"></span></p>
  </div>
</div>
<h2>Available Networks</h2>
<ul id="available-networks" style="list-style-type:none;">
</ul>

<script type='text/javascript' src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"> </script>
<script type="text/javascript">
var width = 960,
    height = 500;

var color = d3.scale.category10();

var force = d3.layout.force()
  .gravity(.15)
  .distance(100)
  .charge(-50)
  .size([width, height]);

function traverse(node, group) {
  if (node.neighbors!=undefined){
    if ("group" in node) {
      node.group = Math.min(node.group, group);
    } else {
      node.group = group;
      node.neighbors.forEach(function(d) { traverse(d, group); });
    }
  }
}

function updateLegend(data){
  $("#nodeCount").text(data.nodes.length)
  $("#edgeCount").text(data.links.length)
  $("#compCount").text(_.unique(data.nodes, 'group').length-1)
}

function chooseNetwork(path, file, idx){
  //Empty the svg
  d3.selectAll("#vis > *").remove();

  $(".network-list").css('background-color','')
  $("#network_"+idx).css('background-color','#333')

  $.getJSON(path+file, function(json, err){
    //Select the network svg
    var svg = d3.select("#vis") // d3.select("#vis")
      .attr("width", width)
      .attr("height", height);

    svg.append("text")
      .attr("x", (width / 2))
      .attr("y", 25)
      .attr("text-anchor", "middle")
      .style("font-size", "16px")
      .text(json.title);

    //Start the layout
    force
      .nodes(json.nodes)
      .links(json.links)
      .start();

    //Get neighbors
    json.links.forEach(function(link) {
      var source = link.source, target = link.target;
      (source.neighbors || (source.neighbors = [])).push(target);
      (target.neighbors || (target.neighbors = [])).push(source);
    });
    json.nodes.forEach(traverse);
    updateLegend(json)

    var toggle = 0;
    function highlightNeighbors(){
      if (toggle == 0) {
        d = d3.select(this).node().__data__
        node.style("opacity", function (o) {
            return o.group==d.group ? 1 : 0.1;
        });
        link.style("opacity", function (o) {
            return d.index==o.source.index | d.index==o.target.index ? 1 : 0.1;
        });
        toggle = 1;
      } else {
          //Put them back to opacity=1
          node.style("opacity", 1);
          link.style("opacity", 1);
          toggle = 0;
      }
    }

    var link = svg.selectAll(".link")
      .data(json.links)
      .enter().append("line")
        .attr("class", "link")
        .style("marker-end",  "url(#suit)") // Modified line
        .style("stroke-width", function(d) { return Math.sqrt(d.weight)+1 });

    //Set up tooltip
    var tip = d3.tip()
        .attr('class', 'd3-tip')
        .offset([0, 0])
        .html(function (d) {
        return  d.id + "";
    })
    svg.call(tip);

    var node = svg.selectAll(".node")
      .data(json.nodes)
      .enter().append("circle")
        .attr("class", "node")
        .attr("r", function(d){ return parseInt(Math.sqrt(d.ways)+1)})
        .style("fill", function(d) { if(d.status=="Experienced"){return color(10)}else{ return color(0)}})
        .call(force.drag)
        .on('mouseover', tip.show)
        .on('mouseout', tip.hide)
        .on('dblclick', highlightNeighbors);

    //Directed Links
    svg.append("defs").selectAll("marker")
        .data(["suit"])
      .enter().append("marker")
        .attr("id", function(d) { return d; })
        .attr("viewBox", "0 -5 10 10")
        .attr("refX", 25)
        .attr("refY", 0)
        .attr("markerWidth", 6)
        .attr("markerHeight", 6)
        .attr("orient", "auto")
      .append("path")
        .attr("d", "M0,-5L10,0L0,5 L10,0 L0, -5")
        .style("stroke", "#4679BD")
        .style("opacity", "0.6");

    force.on("tick", function() {
      link.attr("x1", function(d) { return d.source.x; })
          .attr("y1", function(d) { return d.source.y; })
          .attr("x2", function(d) { return d.target.x; })
          .attr("y2", function(d) { return d.target.y; });

      node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
    });
  });
}

var files = {{{files}}}
var path  = "{{{path }}}"
files.forEach(function(file, idx){
  $("#available-networks").append("<li class='network-list' id='network_"+idx+"' onClick='chooseNetwork(\""+path+"\",\""+file+"\","+idx+")'><a href='#'>"+file.substring(0,file.length-5)+"</a></li>")
  if(idx==0){chooseNetwork(path,file,0)}
})



</script>
